/*CSS Property	Values	Default	Comments
-fx-font	<font>	inherit	shorthand property for font-size, font-family, font-weight and font-style
-fx-font-family	<font-family>	inherit
-fx-font-size	<font-size>	inherit
-fx-font-style	<font-style>	inherit
-fx-font-weight	<font-weight>	inherit*/


#pcapEditorTopPane * {
    /* -fx-smooth: false; Commented as there is a problem on Linux with "-fx-smooth: *;" */
    button-background: #32b4ea;
    button-text-fill: #FFFFFF;
    -trex-field-row-background: #FFFFFF;
    -trex-field-row-background-selected: skyblue; /*#33adff;*/ /*-fx-selection-bar;*/
}

#pcapEditorTopPane .fieldeditortoppane {
    -fx-border-radius: 0px;
    -fx-border-color: #d8d8d8;
    -fx-border-insets: 0px;
    -fx-border-style: solid;
    -fx-border-width: 0px;
    -fx-padding: 0 0 0 0;
    -fx-alignment: center;
    -fx-background-color: #ffffff;
}

#pcapEditorTopPane #fieldEditorPane {
    -fx-border-radius: 0px;
    -fx-border-color: #d8d8d8;
    -fx-border-insets: 0px;
    -fx-border-style: solid;
    -fx-border-width: 0px;
    -fx-padding: 0 0 0 0;
    -fx-alignment: center;
    -fx-background-color: #ffffff;
}

#pcapEditorTopPane #fieldEditorTopPane {
    -fx-background-color: #f4f4f4; /*#ececec;*/
}

#pcapEditorTopPane .fieldeditorscrollpane {
    -fx-background-color: #f4f4f4; /*#ececec;*/
    -fx-border-radius: 0px;
    -fx-border-color: #d8d8d8;
    -fx-border-insets: 0px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-padding: 0 0 0 0;
    -fx-alignment: center;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-pannable: false;
    -fx-hbar-policy: as-needed; /* [ never | always | as-needed ]*/
    -fx-vbar-policy: as-needed; /* [ never | always | as-needed ]*/
}

#pcapEditorTopPane .begrouptoppane {
    -fx-border-radius: 0px;
    -fx-border-color: #d8d8d8;
    -fx-border-insets: 0px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-padding: 0 0 0 0;
    -fx-background-color: #f4f4f4; /*#ececec;*/
    -fx-min-height: 8.88em;
    -fx-pref-height: -fx-min-height;
}

#pcapEditorTopPane .begroupscrollpane {
    -fx-background-color: #f4f4f4; /*#ececec;*/
    -fx-border-radius: 0px;
    -fx-border-color: #d8d8d8;
    -fx-border-insets: 0px;
    -fx-border-style: solid;
    -fx-border-width: 0px;
    -fx-padding: 0px 0px 0px 2.99px; /* 2.99px is for equal alignments for binary data and fields */
    -fx-alignment: center;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-pannable: false;
    -fx-hbar-policy: as-needed; /*[ never | always | as-needed ]	*/
    -fx-vbar-policy: as-needed; /*[ never | always | as-needed ]	*/
}

#pcapEditorTopPane .begroupstackpane {
    -fx-background-color: #ffffff;
    -fx-border-radius: 0px;
    -fx-border-style: solid;
    -fx-border-width: 0px;
    -fx-border-color: #d8d8d8;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-font-stretch: normal;
    -fx-color: #4b4b4b;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
    -fx-alignment: top-left;
    -fx-padding: 0 0 0 0; /*0 0 0 40;*/
}

#pcapEditorTopPane .begrouptext,
#pcapEditorTopPane .begrouptext * {
    -fx-font-smoothing-type: gray; /*lcd;*/
    -fx-font-weight: 100; /*lighter;*/
    -fx-font-style: normal;
    -fx-font-stretch: normal;
    -fx-fill: #3b3b3b;
}

#pcapEditorTopPane .protocolgrid {
    -fx-background-color: #ffffff;
    -fx-border-width: 0px;
    -fx-padding: 0;/*1.99px;*/                 /* narrowing */
}

#pcapEditorTopPane .titled-pane {
    -fx-border-radius: 0px;
    -fx-border-color: #d8d8d8;
    -fx-border-insets: 0px;
    -fx-border-style: solid;
    -fx-border-width: 0px;
}

#pcapEditorTopPane .titled-pane .content {
    -fx-border-width: 0px;
}

#pcapEditorTopPane .titled-pane .title {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-background-color: #e2e2e2; /* #f4f4f4; */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-font-stretch: normal;
    -fx-color: #4b4b4b;
    -fx-padding: 1.7 10.5 1.7 10.5;
}

#pcapEditorTopPane .invalid-protocol .title {
    -fx-background-color: #dbbaba;
}

#pcapEditorTopPane .titled-pane .arrow-button {
    -fx-font-family: System;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-font-stretch: normal;
}

#pcapEditorTopPane #append-protocol-combobox {
    -fx-min-width: 25em;
}

#pcapEditorTopPane .append-protocol .title {
    -fx-color: WHITE;
    -fx-font-weight: normal;
}

#append-protocol-pane {
    -fx-padding: 10px 0 0 0;
}

#pcapEditorTopPane .append-protocol .content {
    -fx-background-color: WHITE;
}

#pcapEditorTopPane #append-protocol-button {
    -fx-padding: 0 1em, 0 1em;
    -fx-background-color: button-background;
    -fx-text-fill: button-text-fill;
    -fx-border-radius: 3px;
}


#pcapEditorTopPane .ignored-field {
    -fx-text-fill: grey;
}

#pcapEditorTopPane .stackpane {
    -fx-border-radius: 0px;
    -fx-border-color: #d8d8d8;
    -fx-border-insets: 0px;
    -fx-border-style: solid;
    -fx-border-width: 0px;
    -fx-padding: 0 0 0 0;
    /*-fx-alignment: center;*/
}

#pcapEditorTopPane .binary-field {
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#pcapEditorTopPane .binary-field.selected {
    -fx-background-color: #33adff;
}

#pcapEditorTopPane .protocol-row {
    -fx-background-color: #f4f4f4;
    -fx-pref-height: 30px;
    -fx-padding: 8 0 7 0px;
}

#pcapEditorTopPane .field-row {
    -fx-background-color: -trex-field-row-background;
    -fx-padding: 0 0 0 40px;              /* narrowing */
    -fx-fill-height: true;
    -fx-fill-width: true;
    -fx-pref-width: 10000px;
}

#pcapEditorTopPane .field-row-even {
    -fx-background-color: #ffffff;
    -fx-padding: 0 0 0 40px;              /* narrowing */
    -fx-fill-height: true;
    -fx-fill-width: true;
    -fx-pref-width: 10000px;
}

#pcapEditorTopPane .field-row-odd {
    -fx-background-color: #f6f6f6;
    -fx-padding: 0 0 0 40px;              /* narrowing */
    -fx-fill-height: true;
    -fx-fill-width: true;
    -fx-pref-width: 10000px;
}

#pcapEditorTopPane .field-row-flags {
    -fx-background-color: #ffffff;
    -fx-padding: 0 0 0 40px;              /* narrowing */
    -fx-fill-height: true;
    -fx-fill-width: true;
    -fx-pref-width: 10000px;
}

#pcapEditorTopPane .field-row-raw {
    -fx-background-color: #ffffff;
    -fx-pref-height: 220px;
    -fx-padding: 0 0 1 40px;
}

#pcapEditorTopPane .field-row-raw-head {
    -fx-background-color: #ffffff;
    -fx-pref-height: 50px;
    -fx-min-height: 50px;
    -fx-padding: 2 0 1 40px;
}

#pcapEditorTopPane .field-row-raw-value {
    -fx-pref-width: 340px;
    -fx-pref-height: 220px;
    -fx-min-width: 340px;
    -fx-min-height: 220px;
    -fx-border-radius: 1px;
    -fx-border-color: #d8d8d8;
    -fx-border-insets: 0px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-padding: 0 0 0 0;
}

#pcapEditorTopPane .field-row-raw-button {
    -fx-padding: 5 5 5 5;
}

#pcapEditorTopPane .protocol-name {
    -fx-fill: #000000;
    -fx-font-style: oblique;
    -fx-font-size: 14px;
}

#pcapEditorTopPane .control {
    -fx-pref-width: 180px;
}

#pcapEditorTopPane .hyperlink .text{
    -fx-underline: false;
}

#pcapEditorTopPane .text {
    -fx-font-smoothing-type: gray; /*lcd;*/
}

#pcapEditorTopPane .text-area {
    -fx-pref-width: 360px;
    -fx-pref-height: 200px;
}

#pcapEditorTopPane .title-pane {
    -fx-fit-to-height: true;
    -fx-min-width: 30em;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#pcapEditorTopPane .field-row.value-pane {
    -fx-fit-to-height: true;
}

#pcapEditorTopPane .editable-label:editable {
    -fx-background-color: #33adff;
}

/*
#pcapEditorTopPane .scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#pcapEditorTopPane .scroll-pane {
    -fx-background-color: white;
}
*/

#pcapEditorTopPane .field-label-info {
    -fx-pref-width: 150px;
}

#pcapEditorTopPane .field-label-name {
    -fx-pref-width: 250px;
}

#pcapEditorTopPane .field-label-name .indented {
    -fx-text-fill: grey;
}

#pcapEditorTopPane .bitflag-label-name .indented {
    -fx-text-fill: grey;
    -fx-padding: 0,0,0,10;
}

#pcapEditorTopPane .field-value-default {
    -fx-text-fill: grey;
}

#pcapEditorTopPane .field-value-set {
    -fx-text-fill: blue;
}

#pcapEditorTopPane .field-error {
    -fx-focus-color: red;
}

/* Narrowing */
#pcapEditorTopPane .titled-pane .label,
#pcapEditorTopPane .titled-pane .button,
#pcapEditorTopPane .titled-pane .text-field,
#pcapEditorTopPane .titled-pane .choice-box,
#pcapEditorTopPane .titled-pane .combo-box,
#pcapEditorTopPane .titled-pane .list-cell {
    -fx-padding: 1px 1px 1px 1px;
    -fx-pref-height: 1.51em;
    -fx-min-height: 1.51em;
    -fx-max-height: 1.51em;
    -fx-background-radius: 0px, 0px, 0px, 0px;
}

#pcapEditorTopPane .titled-pane .text-field,
#pcapEditorTopPane .titled-pane .choice-box,
#pcapEditorTopPane .titled-pane .combo-box,
#pcapEditorTopPane .titled-pane .list-cell {
    -fx-min-width: 15em;
    -fx-pref-width: -1; /*-fx-min-width;*/
    -fx-max-width: -1; /*-fx-min-width;*/
}

#pcapEditorTopPane .titled-pane .protocol-type-selector {
    -fx-min-width: 15em;
    -fx-pref-width: -1; /*-fx-min-width;*/
    -fx-max-width: 15em; /*-fx-min-width;*/
}

#pcapEditorTopPane ProtocolField {
    -fx-min-width: 4.4em;
    -fx-pref-width: 28.8em;
    -fx-max-width: 28.8em;
}

#pcapEditorTopPane .titled-pane .label {
    -fx-min-width: 4.4em;
    -fx-pref-width: 28.8em;
    -fx-max-width: 28.8em;
}

#pcapEditorTopPane .titled-pane .choice-box,
#pcapEditorTopPane .titled-pane .combo-box
 {
    /* modena.css:
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;*/
    -fx-background-color: #ececec, #ececec, #f4f4f4, #ececec;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}


#pcapEditorTopPane .titled-pane .text-field {
    /*-fx-border-insets: 0px;
    -fx-border-style: solid;
    -fx-background-color: red, white, #f4f4f4, white;*/
    -fx-border-width: 0px;
    -fx-padding: 1px 1px 1px 3px;
}

/* Restore after narrowing */
/* For payload editor control */
#pcapEditorTopPane .payloadvbox {
    -fx-spacing: 7px;
    -fx-padding: 2px 0px 2px 0px;
}

#pcapEditorTopPane .payloadhbox {
    -fx-min-height: -1;
    -fx-pref-height: -1;
    -fx-max-height: 400px;
    -fx-min-width: 350px;
    -fx-pref-width: -fx-min-width;
    -fx-spacing: 7px;
    -fx-padding: 0px 2px 2px 0px;
}

#pcapEditorTopPane .payloadchoice {
    -fx-min-height: 10px;
    -fx-pref-height: 30px;
    -fx-min-width: 150px;
    -fx-pref-width: 150px;
    -fx-max-width: Infinity;
}

#pcapEditorTopPane .payloadchoicesize {
    -fx-min-height: 10px;
    -fx-pref-height: 30px;
    -fx-min-width: 140px;
}

#pcapEditorTopPane .payloadbutton {
    -fx-min-height: 30px;
    -fx-pref-height: 30px;
    -fx-min-width: 5em;
    -fx-pref-width: -1;
    -fx-background-color: button-background;
    -fx-text-fill: button-text-fill;
}

#pcapEditorTopPane .payloadlabel {
    -fx-min-height: 30px;
    -fx-pref-height: 30px;
    -fx-min-width: 100px;
    -fx-pref-width: 100px;
}

#pcapEditorTopPane .payloadeditorgrid {
    /*-fx-min-height: -Infinity;
    -fx-max-height: -Infinity;
    -fx-max-width: -Infinity;*/
}

#pcapEditorTopPane .payloadeditortextarea {
    -fx-pref-height: 200px;
    -fx-min-height: 200px;
    -fx-pref-width: 300px;
    -fx-min-width: 300px;
}

#pcapEditorTopPane .payloadeditortextfield {
    -fx-pref-width: 300px;
    -fx-min-width: 100px;
}

#pcapEditorTopPane .payloadeditorlabel {
    -fx-pref-height: 200px;
    -fx-min-height: 200px;
    -fx-pref-width: 300px;
    -fx-min-width: 300px;
}

#pcapEditorTopPane .payloadvbox .choice-box .label,
#pcapEditorTopPane .payloadvbox .combo-box .label,
#pcapEditorTopPane .payloadchoice .label,
#pcapEditorTopPane .payloadchoicesize .label,
#pcapEditorTopPane .payloadchoice .cell,
#pcapEditorTopPane .payloadchoice .indexed-cell,
#pcapEditorTopPane .payloadchoice list-cell {
    /*-fx-padding: 1px 7.3px 1px 7.3px;*/
    -fx-padding: 1px 1px 1px 5px;
}

/* Restore after narrowing */
#pcapEditorTopPane #payloadEditorHboxValue .label {
    -fx-min-width: 1em;
    -fx-pref-width: -1;
    -fx-max-width: -1;
}

#pcapEditorTopPane .field-value-default-raw,
#pcapEditorTopPane .field-value-set-raw {
    -fx-min-height: 10em;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 25em;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-alignment: top-left;
    -fx-text-overrun: center-ellipsis;
    -fx-ellipsis-string: ".....";
}

#pcapEditorTopPane .bitflag  {
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0;
}

#pcapEditorTopPane .bitflag .arrow-button .arrow {
    visibility: false;
}
#pcapEditorTopPane .bitflag,
#pcapEditorTopPane .bitflag > .list-cell,
#pcapEditorTopPane .bitflag > .list-cell .text {
    /*-fx-fill: grey;*/
    -fx-background-color: white white white white; /*transparent, transparent, transparent, transparent;*/
}

#pcapEditorTopPane .split-pane {
    -fx-padding: 0px;
    -fx-padding: 25 25 25 25; /* the toppest pane */
}

#pcapEditorTopPane .split-pane > .split-pane-divider {
    -fx-padding: 0 1px 0 1px;
}

#pcapEditorTopPane .split-pane *.split-pane-divider {
    -fx-background-color: null;
    -fx-border-color: null;
    -fx-padding: 12.50px;
}

#pcapEditorTopPane .split-pane *.vertical-grabber,
#pcapEditorTopPane .split-pane *.horizontal-grabber {
    -fx-background-color: null;
    -fx-border-color: null;
    -fx-padding: 10px;
}
