.binary-field {
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.binary-field.selected {
    -fx-background-color: #33adff;
}
