.binary-field {
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.binary-field.selected {
    -fx-background-color: #33adff;
}

.protocol-row {
    -fx-background-color: darkgrey;
    -fx-pref-height: 30px;
    -fx-padding: 8 0 7 0px;
}
.field-row {
    -fx-background-color: lightgray;
    -fx-pref-height: 30px;
    -fx-padding: 8 0 7 40px;
}
.field-row-raw {
    -fx-background-color: lightgray;
    -fx-pref-height: 220px;
    -fx-padding: 8 0 7 40px;
}

.protocol-name {
    -fx-fill: #000000;
    -fx-font-style: oblique;
    -fx-font-size: 14px;
}

.control {
    -fx-pref-width: 180px;
}
.hyperlink .text{
    -fx-underline: false;
}

.text-area {
    -fx-pref-width: 360px;
    -fx-pref-height: 200px;
}

.title-pane {
    -fx-fit-to-height: true;
    -fx-min-width: 300px;
}

.field-row.value-pane {
    -fx-fit-to-height: true;
}

.editable-label:editable {
    -fx-background-color: #33adff;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: white;
}


